/* ==========================================================================
   个人字体
   ========================================================================== */

@font-face {
  font-family: 'Pennon_ver0.3';
    /* 为字体起一个自定义的名字 */
    src: url('/fonts/Pennon_ver0.3-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pennon_ver0.3-Swash-2';
  /* 为字体起一个自定义的名字 */
  src: url('/fonts/Pennon_ver0.3-Swash-2.woff') format('woff');
}

@font-face {
font-family: 'KizutamaBlogTitle';
  /* 为字体起一个自定义的名字 */
    src: url('/fonts/KizutamaBlogTitle-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Eli.kusa.0.95-demo';
    /* 为字体起一个自定义的名字 */
    src: url('/fonts/Eli.kusa.0.95-demo-Regular.woff') format('woff');

  font-family: "toppan-bunkyu-midashi-min-st", serif;
    font-weight: 900;
    font-style: normal;

  font-family: "tbudmincho-std", sans-serif;
    font-weight: 500;
    font-style: normal;

  font-family: "adelle", serif;
    font-weight: 100;
    font-style: normal;

  font-family: "adelle", serif;
    font-weight: 100;
    font-style: italic;

  font-family: "adelle", serif;
    font-weight: 700;
    font-style: normal;

  font-family: "adelle", serif;
    font-weight: 700;
    font-style: italic;

  font-family: "adelle", serif;
    font-weight: 400;
    font-style: italic;
  
  
}

@font-face {
  font-family: 'Zeng_stemp';
    src: url('/fonts/Zeng_stemp-0.02VF.woff2') format('woff2');

}

.EliKusaTitle {
  font-family: 'Eli.kusa.0.95-demo';
  font-weight: 100;
  font-feature-settings: "ss01", "ss02";
  font-size: 3.0rem;
  font-weight: light;
  color: #e25b7e
}

.EliKusaSwash {
  font-family: 'Eli.kusa.0.95-demo';
  font-weight: 100;
  font-feature-settings: "ccmp","liga","dlig";
  font-size: 2.0rem;
  font-weight: normal
}

.EliKusaSwash2 {
  font-family: 'Eli.kusa.0.95-demo';
  font-weight: 100;
  font-feature-settings: "ccmp", "liga", "dlig";
  font-size: 2.0rem;
  font-weight: normal;
  color: #e25b7e
}

.EliKusaText {
  font-family: 'Eli.kusa.0.95-demo';
  font-weight: 100;
  font-feature-settings: "ccmp", "liga", "dlig","lnum";
  font-weight: normal
}

.EliKusaSwashO {
  font-family: 'Eli.kusa.0.95-demo';
  font-weight: 100;
  font-feature-settings: "ccmp", "liga", "dlig","onum";
  font-size: 2.0rem;
  font-weight: normal
}

.PennonTitle {
  font-family: 'Pennon_ver0.3-Swash-2';
  font-size: 4.0rem;
  font-weight: 100;
  color: #e25b7e;
}

.PennonText {
  font-family: 'Pennon_ver0.3';
  position: relative;
  font-size: 1.3rem;
  bottom: 0.15em;
}

.responsive-image {
  max-width:60%;
  height: auto;
}

.zeng-font-demo {
  font-family: 'Zeng_stemp', sans-serif;
  font-variation-settings: "HAPY" 900, "ANGE" 900, "GRIE" 0, "JOOY" 0;
  font-size: 40vmax;
}

/* ==========================================================================
   Base elements
   ========================================================================== */

html {
  @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
}

body {
  background: $background-color;
  color: $text-color;
}

blockquote,
q {
  color: tint($text-color, 40%);
  font-style: italic;

  cite {
    font-size: 80%;
    font-style: normal;
    font-weight: bold;

    &::before {
      padding-right: 0.25rem;
      content: '\2014';
    }
  }
}

code,
kbd,
samp,
pre {
  font-family: $monospace-font-family;
}

kbd {
  display: inline-block;
  margin: 0 0.125em;
  padding: 0.125em 0.5em;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  background-color: rgb(247, 247, 247);
  text-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 0 0 2px #fff;
}

p,
h4,
h5,
h6 {
  font-family: "KizutamaBlogTitle", "adelle", 'BIZ UDMincho', serif;
  text-rendering: optimizeLegibility; /* enable common ligatures and kerning */
}

h1,
h2,
h3 {
  color: #e25b7e;
  font-family: $base-font-family;
    font-weight: 700;
  @include fluid-type($min-vw, $max-vw, $h1-min, $h1-max);
}

h2 {
  @include fluid-type($min-vw, $max-vw, $h2-min, $h2-max);
}

h3 {
  @include fluid-type($min-vw, $max-vw, $h3-min, $h3-max);
}

h4 {
  @include fluid-type($min-vw, $max-vw, $h4-min, $h4-max);
}

h5 {
  @include fluid-type($min-vw, $max-vw, $h5-min, $h5-max);
}

h6 {
  @include fluid-type($min-vw, $max-vw, $h6-min, $h6-max);
}

dt {
  font-weight: bold;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

dd {
  margin: 0;
}

pre {
  @include fluid-type($min-vw, $max-vw, 12px, 14px);
}

figcaption {
  margin: 0.5rem 0;
  font-size: 80%;
}

a {
  font-feature-settings: "lnum";
  color: $accent-color;

  &:hover {
    color: shade($accent-color, 25%);
  }
}

// *:focus {
//   border-color: $accent-color;
//   outline: none;
//   box-shadow: 0 0 10px $accent-color;
// }


// Zeng-Font

.container {
  display: flex;
  align-items: center;
  /* 让内容居中 */
  height: 100vh;
  /* 使容器占满整个视口高度 */
}

.text-container {
  flex: 0 0 60%;
  /* 占容器的 60% */
  display: flex;
  align-items: center;
  /* 使文字在垂直方向居中 */
  justify-content: center;
  /* 使文字在水平方向居中 */
}

.controls-container {
  flex: 0 0 40%;
  /* 占容器的 40% */
  padding: 20px;
  /* 添加一些内边距以提高可读性 */
}

.control-container {
  margin-bottom: 20px;
  /* 控制滑动条之间的间距 */
}

/* 滑动条容器的样式 */
input[type="range"] {
  -webkit-appearance: none;
  /* 移除默认样式 */
  width: 100%;
  /* 滑动条宽度 */
  height: 0.3pt;
  /* 滑动条高度 */
  background: transparent;
  /* 滑动条背景透明 */
  position: relative;
}

/* 滑动条的样式 */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.3pt;
  /* 滑动条的高度 */
  background: lightgray;
  /* 未滑动部分的颜色 */
  border: none;
  /* 去除边框 */
}

/* 滑动条已滑动部分的样式 */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* 移除默认样式 */
  width: 16px;
  /* 滑动条圆点的宽度 */
  height: 16px;
  /* 滑动条圆点的高度 */
  background: brown;
  /* 滑动条圆点的颜色 */
  border-radius: 50%;
  /* 圆点形状 */
  cursor: pointer;
  /* 鼠标悬停时的样式 */
  font-family: 'Eli.kusa.0.95-demo';
  /* 自定义字体 */
  text-align: center;
  /* 字符居中对齐 */
  line-height: 16px;
  /* 行高等于圆点的高度以垂直居中 */
  color: white;
  /* 圆点内文字的颜色 */
  position: relative;
  top: -6px;
  /* 调整圆点的位置，使其与滑动条对齐 */
  content: '✾';
  /* 圆点上的符号 */
  font-size: 16px;
  /* 圆点上的符号大小 */
}

/* 滑动条已滑动部分的样式 */
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0.3pt;
  /* 滑动条的高度 */
  background: lightgray;
  /* 未滑动部分的颜色 */
  border: none;
  /* 去除边框 */
}

/* 滑动条已滑动部分的样式 */
input[type="range"]::-moz-range-thumb {
  width: 16px;
  /* 滑动条圆点的宽度 */
  height: 16px;
  /* 滑动条圆点的高度 */
  background: brown;
  /* 滑动条圆点的颜色 */
  border-radius: 50%;
  /* 圆点形状 */
  cursor: pointer;
  /* 鼠标悬停时的样式 */
  font-family: 'Eli.kusa.0.95-demo';
  /* 自定义字体 */
  text-align: center;
  /* 字符居中对齐 */
  line-height: 16px;
  /* 行高等于圆点的高度以垂直居中 */
  color: white;
  /* 圆点内文字的颜色 */
  content: '✾';
  /* 圆点上的符号 */
  font-size: 16px;
  /* 圆点上的符号大小 */
}

/* 滑动条已滑动部分的样式 */
input[type="range"]::-ms-track {
  width: 100%;
  height: 0.3pt;
  /* 滑动条的高度 */
  background: transparent;
  /* 滑动条背景透明 */
  border-color: transparent;
  /* 去除边框 */
  color: transparent;
  /* 去除文字颜色 */
  border-width: 0;
  /* 去除边框宽度 */
}

/* 滑动条已滑动部分的样式 */
input[type="range"]::-ms-fill-lower {
  background: brown;
  /* 滑动条已滑动部分的颜色 */
}

/* 滑动条未滑动部分的样式 */
input[type="range"]::-ms-fill-upper {
  background: lightgray;
  /* 滑动条未滑动部分的颜色 */
}

/* 滑动条圆点的样式 */
input[type="range"]::-ms-thumb {
  width: 16px;
  /* 滑动条圆点的宽度 */
  height: 16px;
  /* 滑动条圆点的高度 */
  background: brown;
  /* 滑动条圆点的颜色 */
  border-radius: 10%;
  /* 圆点形状 */
  cursor: pointer;
  /* 鼠标悬停时的样式 */
  font-family: 'Eli.kusa.0.95-demo';
  /* 自定义字体 */
  text-align: center;
  /* 字符居中对齐 */
  line-height: 16px;
  /* 行高等于圆点的高度以垂直居中 */
  color: white;
  /* 圆点内文字的颜色 */
  content: '✾';
  /* 圆点上的符号 */
  font-size: 16px;
  /* 圆点上的符号大小 */
}

/* 媒体查询：当屏幕宽度小于等于 600px 时，改为上下排列 */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    /* 改为上下排列 */
    align-items: center;
    /* 居中对齐 */
    gap: 10px;
    /* 可以根据需要调整间距 */
  }

  .controls-container {
    width: 100%;
    /* 使控制面板占据整个宽度 */
    text-align: center;
    /* 控制面板中的内容居中对齐 */
  }

  .text-container {
    width: 100%;
    /* 使文字区域占据整个宽度 */
    text-align: center;
    /* 文字居中对齐 */
  }
  .container {
  display: flex;
  align-items: start;
  /* 让内容居中 */
  height: 100vh;
  /* 使容器占满整个视口高度 */
  }
}

// logo展示图图片宽度
.logo-width {
  width: 70%;
  height: auto;
  /* 保持图片的纵横比 */
}

// 图片数据流

.machi_photo-gallery {
  column-count: 2;
  /* 保持你的瀑布流布局设置 */
  column-gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.machi_photo-gallery li {
  break-inside: avoid;
  margin-bottom: 10px;
  position: relative;
  /* 为了让 overlay 能够绝对定位 */
}

.machi_photo-gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2px;
  /* 内边距可以调整 */
  background: rgba(255, 255, 255, 0.5);
  /* 50% 透明白色背景 */
  color: #000;
  /* 文字颜色 */
  text-align: left;
  box-sizing: border-box;
  /* 确保 padding 不影响宽度 */
}

.image-title {
  display: block;
  margin: 0;
  font-size: 12px;

  /* 根据需要调整字体大小 */
  font-family: "KizutamaBlogTitle", "adelle", 'BIZ UDMincho', serif;
  font-weight: 400;
  color: #2a282d;
}